In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import seaborn as sns

In [32]:
df = pd.read_csv("D:\\Study\\UG Thesis\\Datasets\\ReibeiroDataset\\tweetsConvereted2017_toxicPerspectiveScore.csv")

In [33]:
# Parse the dates in the NewDateFormat column and extract the week number
df["week"] = df["NewDateFormat"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").strftime("%U"))
df = df.sort_values(by=['week'])

In [34]:
df.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,rt_status_id,rt_user_id,rt_text,rt_creation,rt_fav,rt_rt,Toxicity,Severe Toxicity,NewDateFormat,week
3251391,820132555,Ari_Baby14,816049003846598657,"Petition to change the name from ""pregnancy"" t...",1.483403e+09,1.0,1.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.543256,0.049354,2017-01-03 00:30:18,01
1368789,449942074,decodermag,817059083429801984,Steve talks with Boston's @AfricanPrep about a...,1.483644e+09,5.0,3.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.030035,0.002460,2017-01-05 19:24:00,01
3143340,101774746,NorrisKoppel,817293843448168448,@RosemaryForsyth @MyMonese @rsohoni @cee Thank...,1.483700e+09,0.0,0.0,True,817025568067686401,24390863.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.011749,0.001001,2017-01-06 10:56:51,01
3143339,101774746,NorrisKoppel,817299450167173121,@suanumoni This is all completed for you now. ...,1.483702e+09,0.0,0.0,True,816572785267015681,413786968.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.110577,0.002193,2017-01-06 11:19:08,01
3143338,101774746,NorrisKoppel,817794959281717257,"@ccalmeja thanks, Claire :)",1.483820e+09,0.0,0.0,True,817767632220864512,275663333.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.002623,0.000544,2017-01-07 20:08:06,01

In [35]:
print(df['NewDateFormat'].max())

2017-10-31 00:04:17

In [36]:
temp = df[(df['week'] == "44")]

In [37]:
temp.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,rt_status_id,rt_user_id,rt_text,rt_creation,rt_fav,rt_rt,Toxicity,Severe Toxicity,NewDateFormat,week
4501645,567869077,imarianagraande,924618105560748032,The hardest part about walking away from you i...,1.509288e+09,4.0,1.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.098288,0.002823,2017-10-29 14:45:09,44
5193899,234427352,MWatkinsTrib,924865467176701952,The only thing that could get me to NOT call i...,1.509347e+09,1.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.111093,0.003185,2017-10-30 07:08:05,44
5906147,27331177,957thegame,924717537215922176,"End of the 3rd QTR, #RaiderNation trails the #...",1.509312e+09,4.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.013446,0.001063,2017-10-29 21:20:15,44
5906146,27331177,957thegame,924718060728025088,Tyrod Taylor breaks the plane of the goal line...,1.509312e+09,3.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.018975,0.001507,2017-10-29 21:22:20,44
5193900,234427352,MWatkinsTrib,924852262639493120,"Look, this guyâ€™s zone is enormous, but how are...",1.509344e+09,6.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.054037,0.002003,2017-10-30 06:15:36,44

In [38]:
groupDf = df[['screen_name', 'Toxicity', 'Severe Toxicity', 'week']]

In [39]:
groupDf.head()

          screen_name  Toxicity  Severe Toxicity week
3251391    Ari_Baby14  0.543256         0.049354   01
1368789    decodermag  0.030035         0.002460   01
3143340  NorrisKoppel  0.011749         0.001001   01
3143339  NorrisKoppel  0.110577         0.002193   01
3143338  NorrisKoppel  0.002623         0.000544   01

In [40]:
print(groupDf['week'].max())
print(len(pd.unique(groupDf['week'])))

44
44

In [61]:
week1Df = groupDf[(groupDf['week'] == "44")]

In [62]:
week1Df['Toxicity'] = week1Df['Toxicity'].round(decimals=2) * 10

C:\Users\Aatman\AppData\Local\Temp\ipykernel_13740\4250450771.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  week1Df['Toxicity'] = week1Df['Toxicity'].round(decimals=2) * 10

In [63]:
week1Df['Toxicity'] = (week1Df['Toxicity'].apply(np.ceil)) / 10

C:\Users\Aatman\AppData\Local\Temp\ipykernel_13740\170066107.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  week1Df['Toxicity'] = (week1Df['Toxicity'].apply(np.ceil)) / 10

In [64]:
len(week1Df)

314441

In [65]:
#week1 - weighted sum for all users 
week1Df['Toxicity'].sum().round(2)

58357.4