In [7]:
import pandas as pd
import numpy as np

In [8]:
df1 = pd.read_csv("D:\\Study\\UG Thesis\\Datasets\\Dataset Breakdown\\data_inputFile2.csv")

In [9]:
df1.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,qt_creation,qt_fav,qt_rt,rt_flag,rt_status_id,rt_user_id,rt_text,rt_creation,rt_fav,rt_rt
0,755504,alexandraerin,923637675168616448,@AnaMardoll These are issues within a manuscri...,1.509055e+09,18.0,2.0,True,923637140604547073,755504.0,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
1,755504,alexandraerin,923637320494043144,@KHLazarus @AnaMardoll Much worse than either ...,1.509054e+09,3.0,1.0,True,923636941274443778,630276647.0,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
2,755504,alexandraerin,923637140604547073,"@AnaMardoll ""Oh, my characterization is gettin...",1.509054e+09,17.0,1.0,True,923637018927751168,755504.0,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
3,755504,alexandraerin,923637018927751168,"@AnaMardoll ""Oh, this detail on page 273 comes...",1.509054e+09,16.0,1.0,True,923636920218943488,755504.0,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
4,755504,alexandraerin,923636920218943488,"@AnaMardoll ""Oh, this character is doing this ...",1.509054e+09,16.0,1.0,True,923636796721856513,755504.0,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
len(df1)

746646